pkgbase = example
	pkgdesc = Demo package built from the scaffold-arch-package template
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/alrayyes/scaffold-arch-package
	arch = x86_64
	arch = aarch64
	license = LicenseRef-custom
	makedepends = make
	depends = bash
	source = example-1.0.2.tar.gz::https://github.com/alrayyes/scaffold-arch-package/archive/refs/tags/v1.0.2.tar.gz
	sha256sums = 14fb29ff3946d63a03190d344d43ea4111d3d19bd3e7a416c2a13e7f9a1c0998

pkgname = example
