pkgbase = example
	pkgdesc = Demo package built from the scaffold-arch-package template
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/alrayyes/scaffold-arch-package
	arch = x86_64
	arch = aarch64
	license = LicenseRef-custom
	makedepends = make
	depends = bash
	source = example-1.0.7.tar.gz::https://github.com/alrayyes/scaffold-arch-package/archive/refs/tags/v1.0.7.tar.gz
	sha256sums = 96579a2fba2afa4d6212f8b1427670cdef4e131b25641829b92a210efcdafab6

pkgname = example
