pkgbase = example
	pkgdesc = Demo package built from the scaffold-arch-package template
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/alrayyes/scaffold-arch-package
	arch = x86_64
	arch = aarch64
	license = LicenseRef-custom
	makedepends = make
	depends = bash
	source = example-1.0.8.tar.gz::https://github.com/alrayyes/scaffold-arch-package/archive/refs/tags/v1.0.8.tar.gz
	sha256sums = 30b2deb3bb226b57bcebd6a727884faa5cbd3f18835644bb6ff61f67ff5983fa

pkgname = example
